@font-face{
font-family:"Tangerine-Regular";
src:"app_one/static/src/fonts/Tangerine-Regular.ttf"
}

@font-face{
font-family:"BitcountSingle_Roman-ExtraLight";
src:"app_one/static/src/fonts/BitcountSingle_Roman-ExtraLight.ttf"
}